Data Gathering Using API's

In [1]:
import pandas as pd
import requests

In [ ]:
resp = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=93e55eceb81589620395dfa04f96c1f7&language=en-US&page=1')

In [25]:
# But we just need the result and convert this to a dataframe
# pd.DataFrame(resp.json()['results'])
# Now you just get the reuired column as you mention
df = pd.DataFrame(resp.json()['results'])[['id', 'original_language', 'title', 'overview', 'popularity', 'vote_average', 'vote_count']]
df
# df.shape

,id,original_language,title,overview,popularity,vote_average,vote_count
0,445040,en,My Friend Dahmer,Jeffrey Dahmer struggles with a difficult fami...,1.6806,6.503,617
1,390555,en,Bonanza: The Return,A man with a grudge against the late Little Jo...,1.9202,6.500,400
2,14854,en,Lone Wolf McQuade,The archetypical renegade Texas Ranger wages w...,1.9366,6.503,382
3,10656,fr,Subway,"Fred, a raffish safe blower, takes refuge in t...",2.4264,6.500,488
4,9870,en,Forgetting Sarah Marshall,When actress Sarah Marshall dumps aspiring mus...,3.8616,6.503,3546
5,8346,en,My Big Fat Greek Wedding,A young Greek woman falls in love with a non-G...,1.9215,6.503,2212
6,4233,en,Scream 2,"Two years after the first series of murders, a...",7.5776,6.503,4445
7,1136867,en,Materialists,"A young, ambitious New York City matchmaker fi...",21.9422,6.499,757
8,575100,it,When Mom Is Away,A stressed-out mom takes off on a 10-day solo ...,2.3367,6.502,506
9,14510,en,From Beyond,"The Resonator, a powerful machine that can con...",4.4251,6.493,613
10,13665,en,Arthur,Arthur is a 30-year-old child who will inherit...,3.6297,6.502,448
11,12610,en,Osmosis Jones,"A white blood cell policeman, with the help of...",2.6503,6.502,1050
12,270343,fr,Love at First Fight,"Arnaud, facing an uncertain future and a deart...",1.9648,6.500,448
13,16523,en,Where the Wild Things Are,Max imagines running away from his mom and sai...,2.6540,6.501,1931
14,10782,en,Basic,When a hurricane hits a US Army base on the ed...,3.5797,6.501,1087
15,1551,en,Flatliners,Five medical students want to find out if ther...,2.2355,6.500,1634
16,877183,en,The Simpsons in Plusaversary,The Simpsons host a Disney+ Day party and ever...,1.7906,6.500,419
17,758724,en,The Cellar,When Keira Woods' daughter mysteriously vanish...,3.5652,6.500,474
18,238751,en,Best of the Best,A team from the United States is going to comp...,1.5078,6.500,318
19,10750,en,Toy Soldiers,After federal agents arrest a drug czar and pu...,3.3000,6.500,358

In [11]:
emp_df = pd.DataFrame()
emp_df

Empty DataFrame
Columns: []
Index: []

In [27]:
import pandas as pd
import requests

emp_df = pd.DataFrame()

for i in range(1, 400):
    resp = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=93e55eceb81589620395dfa04f96c1f7&language=en-US&page={}'.format(i))
    # print(resp.status_code)
    temp_df = pd.DataFrame(resp.json()['results'])[['id', 'original_language', 'title', 'overview', 'popularity', 'vote_average', 'vote_count']]
    emp_df = pd.concat([emp_df, temp_df], ignore_index= True) # ignore_index = True -> which create own indexing

In [28]:
emp_df

,id,original_language,title,overview,popularity,vote_average,vote_count
0,278,en,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,33.1005,8.712,29018
1,238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",33.5430,8.686,21931
2,240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,16.2842,8.572,13251
3,424,en,Schindler's List,The true story of how businessman Oskar Schind...,14.5324,8.567,16767
4,389,en,12 Angry Men,The defense and the prosecution have rested an...,12.8110,8.548,9458
...,...,...,...,...,...,...,...
7975,12220,en,The Story of Us,Ben and Katie Jordan are a married couple who ...,1.4595,6.076,335
7976,4283,en,Primeval,A news team is sent to Burundi to capture and ...,3.7387,6.100,427
7977,451955,fr,Double Lover,"Chloé, a fragile young woman, falls in love wi...",1.4089,6.075,550
7978,60803,en,The Suite Life Movie,Cody and Zack are approached to join the Gemin...,1.2475,6.100,522
7979,13570,en,Tourist Trap,"After their car breaks down, a group of young ...",2.7771,6.100,319

In [29]:
emp_df.shape

(7980, 7)

In [30]:
#  Convert this dataframes into the CSV
emp_df.to_csv('movie.csv')